.App {
	font-family: sans-serif;
	text-align: center;
}

.tabbed {
	position: relative;
	height: 100%;
}

.fullheight {
	height: 81.1vh !important;
	position: relative;
	top: 0;
	clear: both;
}

.halfheight {
	height: 55vh !important;
}

.quickview {
	height: 28.3vh;
	background-color: #f1f8ff;
	width: 800px;
}

.currentAmount {
	background-color: #f1fff7 !important;
}

.tabbed .bottom.attached.menu {
	width: 100% !important;
	overflow: hidden;
	margin-top: auto;
	bottom: 0;
}

.dashboard {
	.twelve {
		border-bottom: 1px solid #ddd !important;
	}
}

.summary-side {
	background-color: #f5f5f5;
	padding-bottom: 2rem !important;
	.stats {
		border-bottom: 0 none;
	}
}

.header {
	margin-bottom: 1.5rem !important;
}

.stats {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1.5rem !important;
	margin-bottom: 1.5rem !important;
	.column {
		padding-top: .5rem !important;
		padding-bottom: .5rem !important;
	}
	.stat {
		box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
		border-radius: .28571429rem;
		border: 1px solid rgba(34,36,38,.15);
		display: flex;
		flex-direction: row;
		background-color: #fff;
	}
	.variation {
		padding: 1rem;
		width: 4rem;
		align-items: center;
		display: flex;
	}
	.data {
		padding: .5rem 1rem;
		flex: 1;
		text-align: right;
	}
	.mini-header {
		font-size: .8rem;
		color: #777 !important;
		text-transform: uppercase;
		display: block;
	}
	.statistic {
		margin: 0rem;
	}
	&:last-child {
		border-bottom: 0 none;
	}
}

.label .icon {
	margin-right: 0 !important;
}

.mt2 {
	margin-top: 2rem !important;
}

.ml1 {
	margin-right: 1rem !important;
}

.mr1 {
	margin-right: 1rem !important;
}

.ml2 {
	margin-left: 2rem !important;
}

.ml3 {
	margin-left: 3rem !important;
}

.mr2 {
	margin-right: 2rem !important;
}

.pt1 {
	padding-top: 1rem !important;
}

.pb1 {
	padding-bottom: 1rem !important;
}

.pt2 {
	padding-top: 2rem !important;
}

.pb2 {
	padding-bottom: 2rem !important;
}
